@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
  display: block;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonclass{
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  height: 10%;
  background-color: #0044ff;
  border-radius: 8px;
}

.button2 {
  background-color: black;
}

.button3 {
  position: relative;
  margin-top: 100%;
}