html
{
    font-size: 62.5%;
}

@font-face
{
    font-family: Monaco;
    src: url(/fonts/Monaco.ttf)
}

@font-face 
{
    font-family: Lobster;
    src: url(/fonts/Lobster-Regular.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    color: white;
    font-family: "Monaco";
}

.home
{
    background: linear-gradient(blueviolet, violet)
}

.nav-container
{
    background: blueviolet;
}

nav
{
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
}

nav logo
{
    flex: 3;
    position: relative;
}

nav logo::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background: rebeccapurple;
    border-radius: 50%;
    transform: translate(-10%, -20%);
    mix-blend-mode: screen;
}

.nav-container ul
{
    background: rebeccapurple;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.showcase
{
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;
}

.showcase h2
{
    grid-column: 2/3;
    /* align-self: flex-end; */
}

.showcase img
{
    grid-row: 2/3;
    grid-column: 3/4;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.info
{
    grid-column: 4/5;
    grid-row: 3/4;
}

.info h3
{
    padding-bottom: 3rem;
}

h1
{
    font-size: 2.5rem;
    font-family: "Lobster", cursive;
    font-weight: lighter;
}

h2
{
    font-size: 8rem;
    font-family: "Lobster", cursive;
    font-weight: lighter;
}

h3
{
    font-size: 3.5rem;
}

h4
{
    font-size: 3rem;
}

p
{
    font-size: 2.5rem;
}

li
{
    font-size: 2rem;
}

a
{
    color: white;
    text-decoration: none;
}

.skills-container
{
    background: linear-gradient(violet, blueviolet);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.skills-container .wave
{
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 100%;
    z-index: -1;
}

.skills
{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills .cards
{
    display: flex;
    justify-content: space-between;
    color: black;
}

.skills .cards .card
{
    /* background: linear-gradient(rebeccapurple, purple); */
    background: white;
    margin: 0rem 5rem;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}

.skills .cards .card h4
{
    margin: 2rem 0rem 1rem 0rem;
}

.skills .cards .card p
{
    padding: 2rem;
}

.skills .cards .card img
{
    object-fit: cover;
}

.projects-container
{
    background: linear-gradient(blueviolet, violet);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.projects-container .wave
{
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 100%;
    z-index: -1;
}

.projects
{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects .cards
{
    display: flex;
    justify-content: space-between;
    color: black;
}

.projects .cards .card
{
    /* background: linear-gradient(rebeccapurple, purple); */
    background: white;
    margin: 0rem 5rem;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}

.projects .cards .card h4
{
    margin: 2rem 0rem 1rem 0rem;
}

.projects .cards .card p
{
    padding: 2rem;
}

.projects .cards .card img
{
    object-fit: cover;
}

.contact-container
{
    background: linear-gradient(violet, blueviolet);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.contact-container .wave
{
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 100%;
    z-index: -1;
}

.contact
{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact .cards
{
    display: flex;
    justify-content: space-between;
    color: black;
}

.contact .cards .card
{
    /* background: linear-gradient(rebeccapurple, purple); */
    background: white;
    margin: 0rem 5rem;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}

.contact .cards .card h4
{
    margin: 2rem 0rem 1rem 0rem;
}

.contact .cards .card p
{
    padding: 2rem;
}

.contact .cards .card img
{
    object-fit: cover;
}

footer
{
    min-height: 10vh;
    background: linear-gradient(blueviolet, violet);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul
{
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-between;
}

footer h1
{
    flex: 3;
}

@media screen and (max-width: 1200px)
{
    html
    {
        font-size: 25%;
    }
}